body {
	background-color: #E15E32;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	color: white;
}

h1 {
	text-align: center;
	font-size: 5rem;
	font-weight: 300;
}

h3 {
	text-align: center;
	font-size: 2rem;
	font-weight: 300;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 25px;
}

.inputText {
	font-size: 2rem;
}

input {
	color: black;
	font-size: 2rem;
	margin-left: 20px;
	margin-right: 20px;
}

button {
	color: black;
	padding: 5px;
}

p {
	font-size: 2rem;
	margin-bottom: 30px;
}

#paragraphSelector {
	text-align: center;
}

#polipsumText {
	margin-top: 20px;
}

/*#polipsumText .ui-selecting {
	background: #000000;
}

#polipsumText .ui-selected {
	background: #F39814;
}
*/

